body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #333;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #181818;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    
}

h1 {
    color: #ad8524;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #ad8524;
}

input[type="number"] {
    width: 90%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ad8524;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 96%;
}

button:hover {
    background-color: #bf9c38;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}