/*DARKMODE*/
body.darkmode {
  margin: 0;
  padding: 0;
  background: #000;
  a {
    color: #ad8524;
    text-decoration: none;
  }

  header {
    background-color: black;
  }

  footer {
    background-color: black;
  }

  /*navegação*/
  .burger {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    transition: 300ms;
    border-radius: 10px;
  }

  .burger input[type="checkbox"] {
    appearance: none;
    transition: 300ms;
  }

  .burger::before,
  .burger::after {
    content: "";
    transition: 300ms;
    transform-origin: center center;
  }

  .burger::before {
    transform: translateY(8px);
  }

  .burger::after {
    transform: translateY(-8px);
  }

  .burger .line,
  .burger::before,
  .burger::after {
    width: 25px;
    height: 2.1px;
    display: block;
    background-color: #ad8524;
    border-radius: 5px;
    position: absolute;
  }

  .burger .line:checked {
    width: 0;
    transition-delay: 100ms;
  }

  .burger:has(.line:checked)::before {
    animation: animation1 400ms ease-out 0s 1 both;
  }

  .burger:has(.line:checked)::after {
    animation: animation2 400ms ease-out 0s 1 both;
  }

  .burger:hover {
    background: #aeaeae;
    border-radius: 50%;
  }

  .burger:hover .line,
  .burger:hover::before,
  .burger:hover::after {
    background: #000;
  }

  .burger:active {
    scale: 0.95;
  }

  @keyframes animation1 {
    0% {
      transform: translateY(8px) rotate(0deg);
    }
    50% {
      transform: translateY(0px) rotate(0deg);
    }
    100% {
      transform: translateY(0px) rotate(45deg);
    }
  }

  @keyframes animation2 {
    0% {
      transform: translateY(-8px) rotate(0deg);
    }
    50% {
      transform: translateY(0px) rotate(0deg);
    }
    100% {
      transform: translateY(0px) rotate(-45deg);
    }
  }

  .nav-link {
    display: none;
    width: fit-content;
    height: fit-content;
    list-style: none;
    background-color: transparent;
  }

  .nav-link.show {
    display: flex;
  }

  .li {
    margin-bottom: 0px;
    margin-left: 5px;
  }

  #cnt {
    position: relative;
    left: 15px;
  }

  .nav-link a {
    color: #fff;
  }

  .nav-link a:hover {
    text-shadow: #ffb005 3px 3px 3px;
    font-size: 20px;
  }

  /*main*/
  article {
    background-color: #000;
    color: #ddd;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-repeat: repeat;
    background-size: cover;
  }

  article section {
    width: 100%;
    background-color: #131313; /*#575358*/
    font-size: 2em;
    margin: em;
    border-radius: 0px;
  }

  section#inicial {
    display: flex;
    text-align: left;
    height: 1000px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
  }

  section#inicial div {
    margin: 3em;
  }

  section#inicial h1 {
    margin-bottom: 0.2em;
    font-size: 3em;
    color: #ad8524;
    border: #544119 1px;
  }

  section#inicial .detalhes #servicos {
    margin-bottom: 0.2em;
  }

  .botao a {
    color: #000;
  }

  .botao a:hover {
    font-size: 1em;
  }

  .botao {
    font-size: 0.8em;
    width: 300px;
    height: 70px;
    border-radius: 20px;
    background: rgb(210, 172, 72);
    background: -moz-linear-gradient(
      145deg,
      rgba(210, 172, 72, 1) 0%,
      rgba(210, 172, 72, 1) 28%,
      rgba(210, 172, 72, 1) 72%,
      rgba(175, 135, 39, 1) 100%
    );
    background: -webkit-linear-gradient(
      145deg,
      rgba(210, 172, 72, 1) 0%,
      rgba(210, 172, 72, 1) 28%,
      rgba(210, 172, 72, 1) 72%,
      rgba(175, 135, 39, 1) 100%
    );
    background: linear-gradient(
      145deg,
      rgba(210, 172, 72, 1) 0%,
      rgba(210, 172, 72, 1) 28%,
      rgba(210, 172, 72, 1) 72%,
      rgba(175, 135, 39, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2ac48",endColorstr="#af8727",GradientType=1);
  }

  section .bg {
    background-color: rgb(49, 49, 49);
    margin: 5px;
    padding: 5px;
  }

  section .tri-flex {
    display: flex;
    margin: 3em;
  }

  .escondido-tri {
    opacity: 0;
    transform: translateY(100px);
    transition: all 2s;
  }

  .visivel-tri {
    opacity: 1;
    transform: translateY(0px);
    transition: all 2s;
  }

  section#Habilidades h1 {
    font-size: 3em;
    color: #ad8524;
    border: #544119 1px;
  }

  section#Habilidades h3 {
    font-size: 1.2em;
    color: #ad8524;
    border: #544119 1px;
  }

  .espaço {
    background-color: rgb(210, 172, 72);
    height: 200px;
  }

  .amostras {
    border-radius: 0px;
    width: 100%;
    background-color: #131313;
  }

  .amostras img {
    width: 50%;
    height: auto;
  }

  .escondido {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 2s;
  }

  .visivel {
    opacity: 1;
    transform: translateX(0px);
    transition: all 2s;
  }

  .amostras div {
    display: flex;
    justify-content: space-evenly;
  }

  .titulo {
    text-align: center;
    margin-bottom: 0.2em;
    font-size: 5em;
    color: #ad8524;
    border: #544119 1px;
  }

  section#servicos .bg {
    background-color: rgb(49, 49, 49);
    padding: 150px;
    margin-left: 30%;
    color: #ddd;
    width: 70%;
    display: grid;
    grid-template-areas: 
    "header header"
    "primeiro segundo"
    "terceiro terceiro"
    ;
  }

  section#servicos {
    width: 100%;
  }

  section#servicos h1 {
    font-size: 3em;
    color: #ad8524;
    border: #544119 1px;
  }

  section#servicos h3 {
    font-size: 1.2em;
    color: #ad8524;
    border: #544119 1px;
  }
.quadrado-div{
  width: 50%;
}
#titulo-servicos{
  grid-area: header;
}
#servicos-1{
  grid-area: primeiro;
}
#servicos-2{
  grid-area: segundo;
}
#servicos-3{
  grid-area: terceiro;
}

  /*main*/
} /*fechamento do modo escuro*/
/*animações*/
footer {
  position: relative;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  padding-top: 20px;
  margin-top: 10px;
  background-color: #3c5b6f;
  color: #ad8524;
  text-align: center;
  font-size: small;
  font-family: sans-serif;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: stretch;
}

footer .icone {
  width: 20%;
  padding: 0;
}
.cp {
  position: absolute;
  bottom: 0px;
  left: 100px;
}
footer h5 {
  margin: 0;
}
footer h4 {
  color: #ad8524;
}
footer sub {
  color: #ad8524;
}
/*Copyright - 2024 Lokesh1379 (C Lokesh) */
.parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #ddd;
}

.child:hover {
  background-color: #ddd;
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
  transform: perspective(180px) rotateX(60deg) translateY(2px);
  box-shadow: 0px 10px 10px rgb(1, 49, 182);
}

button {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.button:hover {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg)
    translateY(2px);
  border-radius: 50%;
}
